NEXT_SECRET = 
GOOGLE_CLIENT_ID = 
GOOGLE_CLIENT_SECRET = 
DATABASE_URL = 
# NEXTAUTH_URL = http://localhost:3000
# NEXTAUTH_URL_INTERNAL =http://localhost:3000
NODE_ENV = 'development'
UPLOADTHING_SECRET=s
UPLOADTHING_APP_ID=


NEXT_URL = http://localhost:3000